<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.visitel.mobileclient"
    android:versionCode="10402"
    android:versionName="1.4.2">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />

    <!-- This is a test application that should always be debuggable. -->
    <!--suppress HardcodedDebugMode -->
    <application android:name="us.visitel.mobileclient.NclApplication"
                 android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:allowBackup="false"
                 android:supportsRtl="false">

        <activity android:name="SplashScreenActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--<category android:name="android.intent.category.BROWSABLE"/>-->
                <!--<data android:scheme="https" android:host="appr.tc"/>-->
                <!--<data android:scheme="http" android:host="appr.tc"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name="LoginActivity"
            android:theme="@style/LightGrayActivityTheme"
            android:screenOrientation="portrait">
            <!--android:configChanges="orientation|screenSize"-->

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW"/>-->
            <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--<category android:name="android.intent.category.BROWSABLE"/>-->
            <!--<data android:scheme="https" android:host="apprtc.appspot.com"/>-->
            <!--<data android:scheme="http" android:host="apprtc.appspot.com"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name="MainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="OutgoingCallActivity"
            android:theme="@style/BlackActivityTheme"
            android:label="@string/app_name">
        </activity>

        <activity android:name="IncomingCallActivity"
            android:theme="@style/BlackActivityTheme">
        </activity>


        <activity android:name="AboutActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="VideoCallCamera1Activity"
            android:parentActivityName="MainActivity"
            android:screenOrientation="fullUser"
            android:configChanges="orientation|screenSize"
            android:theme="@style/VisiTelActivityTheme">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <activity android:name="VideoCallCamera2Activity"
            android:parentActivityName="MainActivity"
            android:screenOrientation="fullUser"
            android:configChanges="orientation|screenSize"
            android:theme="@style/VisiTelActivityTheme">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <!--<activity android:name="SettingsActivity"-->
                  <!--android:label="@string/settings_name">-->
        <!--</activity>-->

        <!--<activity android:name="CallActivity"-->
                  <!--android:label="@string/app_name"-->
                  <!--android:screenOrientation="fullUser"-->
                  <!--android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"-->
                  <!--android:theme="@style/CallActivityTheme">-->
        <!--</activity>-->
    </application>
</manifest>
